@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
body{
    background-color:rebeccapurple;
}
.title{
    text-align: center;
    font-size:30px;
    font-weight:800;
    margin-top: 30px;
    color: rgb(234, 223, 223);
    text-transform: uppercase;
}
.container{
    margin:30px auto;
    width: 300px;
    padding: 10px;
    background-color:#e6e9ef;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(47, 45, 45);
}
.form{
    width: 100%;
}
.hasil{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    color:rgb(84, 80, 80);
    font-size: 30px;
    margin: 30px 0 10px 0;
    border-radius: 15px;
    text-align: end;
    height: 100px;
    box-shadow: 2px 3px 7px inset rgb(182, 180, 180);
}

.flex{
    width: 100%;
    display: flex;
}
.button-left{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.button-right{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(255, 207, 118);
}
.item{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50px;
    height: 50px;
    font-size: 23px;
    color: rgb(84, 80, 80);
    border: 1px solid rgb(225, 221, 221);
    box-shadow: 2px 3px 5px 2px rgb(225, 222, 222);
    border-radius: 10%;
    cursor: pointer;
    margin:5px 5px;
}